<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- header -->
  <header>
    <img id='logo' width="64" height="64" alt="Logo">

    <button>day</button>
  </header>

  <!-- main -->
  <main>
    <form id="form" action="/apply/" method="POST">
      <label>
        Ваше имя:
        <input type="text" name="name" id="name" placeholder="Илон Маск" required autofocus>
      </label>
    
      <label>
        Почта:
        <input type="email" name="email" id="email" placeholder="elon@musk.com" required>
      </label>
    
      <label>
        Возраст:
        <input type="number" name="age" required>
      </label>
    
      <label>
        Профессия:
        <select name="specialization" required>
          <option value="engineer" selected>Инженер</option>
          <option value="scientist">Учёный</option>
          <option value="psychologist">Психолог</option>
          <option value="other">Другая</option>
        </select>
      </label>
    
      <label>
        Я работал в NASA
        <input type="checkbox" name="nasa-experience" value="1">
      </label>
    
      <label>
        Фото:
        <input type="file" accept="image/jpeg" name="photo" required>
      </label>
    
      <button type="submit">Отправить заявку</button>
    </form>
  </main>

  <!-- footer -->
  <footer>
    <p>My custom form, 2021</p>
  </footer>
</body>
</html>